@font-face {
  font-family: 'NanumWarmFarewell';
  src: url('./assets/fonts/NanumFairyClear.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumFlowerSmell';
  src: url('./assets/fonts/NanumFlowerSmell.ttf') format('truetype');
}

body {
  font-family: 'NanumFlowerSmell', 'sans-serif';
  background: #faebd7;

  margin: 0;
  padding: 0;
}
