@font-face {
  font-family: 'SeoulNamsan';
  font-weight: normal;
  src: url('../fonts/SeoulNamsanM.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumFairyClear';
  src: url('../fonts/NanumFairyClear.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumFlowerSmell';
  src: url('../fonts/NanumFlowerSmell.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumThanks';
  src: url('../fonts/NanumThanks.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumWarmFarewell';
  src: url('../fonts/NanumWarmFarewell.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.woff2');
}
